<h1><%= @recipe.name %></h1>

<% if @user && !@rated %>
  <%= render '/ratings/rating' %>
<% else %>
  <h2>Average Rating</h2> <%= "☆" * @avg_rating %>
<% end %>



<h2>Difficulty Level(1-5):</h2>
<p><%= @recipe.difficulty %></p>

<h2>Prep Time:</h2>
<p><%= @recipe.prep_time %> minutes</p>


<h2>Ingredients</h2>
  <ul class="ingredients">
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %> <%= find_metrics(ingredient, @recipe) %>    <%= link_to "Edit", edit_recipe_ingredient_path(@recipe, ingredient) %></li>
    <% end %>
  </ul>
<%= link_to "Add New Ingredient", new_recipe_ingredient_path(@recipe) %>

<h2>Instructions</h2>
<%= @recipe.directions %>

<p><%= link_to "Edit Recipe", edit_recipe_path(@recipe) %></p>
