<h1><%= @recipe.name %></h1>
<%= render '/ratings/rating' %>
<h3>Ingredients</h3>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %> <%= find_metrics(ingredient, @recipe) %></li>
    <% end %>
    <%= link_to "Edit Ingredient", edit_recipe_ingredient_path(@recipe) %>
  </ul>

  <%= link_to "Add New Ingredient", new_recipe_ingredient_path(@recipe) %>
<h3>Instructions</h3>
<%= @recipe.directions %>
