<%= form_for [@recipe, @ingredient] do |f| %>

  <% if @errors %>
    <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  <% end %>

<div id="ingredient-form">
  <p>
    <%= f.label :name, "Ingredient:" %>
    <%= f.text_field :name %>

  </p>

    <%= f.fields_for :measurements do |measurement_form| %>
        <%= measurement_form.label :amount, "Amount:" %>
        <%= measurement_form.number_field :amount %>

        <%= measurement_form.label :metric, "Metric:" %>
        <%= measurement_form.text_field :metric %>

        <%= measurement_form.hidden_field :recipe_id, value: @recipe.id %>

    <% end %>
    <%= f.submit "Add ingredient" %>
</div>
<% end %>
