<h1>New Ingredient Form</h1>
<%= form_for @ingredient do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>

  </p>
Measurement:

    <%= f.fields_for :measurements do |measurement_form| %>
        <%= measurement_form.label :amount %>
        <%= measurement_form.number_field :amount %>

        <%= measurement_form.label :metric %>
        <%= measurement_form.text_field :metric %>

        <%= measurement_form.hidden_field :recipe_id, value: 1 %>

    <% end %>
    <%= f.submit "Add ingredient" %>

<% end %>



